{% extends "base.html" %}

{% block title %}

Booking Cart
{% endblock title %}

{% block body %}
<h1 class="py-5 my-3">Booking Cart</h1>
{% if is_post %}

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p>Items Sucessfully Booked!</p>
    <p>Please pick up your products by {{fdate}} from the store.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
<p id="info" class="py-2"> Check out your Cart</p>
<div class="container" >
  <div class = "col" >
    {%if products%}
      {% for item in products %}
        <div id="{{item.name}}" class=" d-flex justify-content-center px-4 mx-4 my-4 py-4">
        <div class="card mb-4 col-lg-3 col-md-4 col-sm-6 shadow-sm ">
            {% if item.images.all %}
            <div id="carousel-{{ item.id }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in item.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.caption }}">
                            {% if image.caption %}
                                <div class="carousel-caption d-none d-md-block">
                                    <p>{{ image.caption }}</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ item.id }}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ item.id }}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% else %}
            <img src="{{ item.images.first.image.url }}" class="card-img-top" alt="{{ item.name }}">
        {% endif %}
          <div class="card-body text-center">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text"><strong>₹{{ item.price }}</strong></p>
            <button id = "rem {{item.name}}" name ="{{item.name}}"class="btn btn-primary remove">Remove</button>
          </div>
        </div>
      </div>
    {% endfor %}
    {%endif%}
    </div> 
  </div>
 

<div class="d-flex justify-content-center my-4">
  <button id ="back" class="btn btn-primary ">Browse Products</button>
</div>

<div class="d-flex justify-content-center my-4">
<button id="showform" class="btn btn-primary">Book Now</button>
</div>

<div id="form" class="container">
    <form id="bookForm" action="/book-form" method='post'>
      {% csrf_token %}
      <div class="d-flex justify-content-center px-4 mx-4 py-4">
        <h3>Booking Form</h3>
      </div>
        <div class="col py-3 mx-3" >
          <div class="d-flex justify-content-center px-4 mx-4 py-4">
            <input type="text" name='name' class="form-control col-lg-3 col-md-4 col-sm-6" placeholder="Name" required>
          </div>
          <div class="d-flex justify-content-center px-4 mx-4 py-4">
            <input type="number" name='phone' class="form-control col-lg-3 col-md-4 col-sm-6" placeholder="Phone Number" required>
          </div>
          <div class="d-flex justify-content-center px-4 mx-4 py-4">
            <input id="confirm" type="checkbox" name='confirm' class="form-check-input col-lg-3 col-md-4 col-sm-6" value="" required>
            <label class="form-check-label" for="flexCheckIndeterminate">
              Check to confirm booking
            </label>
          </div>
            <input id="iteminput" type='hidden' name='items' value = "">
          <div class="d-flex justify-content-center">
            <button type = "submit" id ="book" class="btn btn-primary "> Book <span class = "cartCount">{{cartCount}}</span> product(s)</button>

          </div>
        </div>
      </div>
    </form>
  </div>
  
 

  




  <script>
    let cartCount = parseInt({{ cartCount|default:0 }},10); 
    const cartCountElements = document.querySelectorAll('.cartCount');
    let itemList={{itemList|default:"[]"|safe}};

    function checkCount() {
      const element = document.getElementById("form");
      const info = document.getElementById("info");
      if ( cartCount === 0) {
          info.textContent = "No items in cart";
          element.style.display = "none"; // Hide element
      } else {
          info.textContent = "Check out your Cart";
          element.style.display = "block"; // Show element
      }
  }

    checkCount();
  
    if(document.querySelectorAll('.remove'))
    {const removeButton = document.querySelectorAll('.remove');
    removeButton.forEach(button =>{
      button.addEventListener('click', ()=>{
              if (cartCount > 0) { 
                  if(itemList.includes(button.name))
                  {
                      document.getElementById(button.name).remove();
                      itemList.splice(itemList.indexOf(button.name), 1);
                      const myList = JSON.stringify(itemList);
                      document.getElementById("iteminput").value = myList;
                      
                  }
                  cartCount--; 
                  cartCountElements.forEach(element => {
                      element.textContent = cartCount;
                  }); 
                  checkCount();
              }
      });

  });
  }
    
    document.getElementById("back").addEventListener('click', ()=>{
        // Serialize the items array and cartCount as query parameters
        const itemsString = encodeURIComponent(JSON.stringify(itemList));  // Convert the array to a JSON string and encode it
        const cartCountString = cartCount;
  
        // Create the URL with the query parameters
        const url = `/products?items=${itemsString}&count=${cartCountString}`;
  
        // Redirect to the booking cart page with the data
        window.location.href = url;
      });
      document.getElementById("confirm").addEventListener('change',()=>{
              const myList = JSON.stringify(itemList);
              document.getElementById("iteminput").value = myList;
      });

      const button = document.getElementById('showform');
      const form = document.getElementById('form');
      form.style.display = 'none';

      if(cartCount === 0)
      {
        button.style.display = 'none';
      }

      function toggleForm() {
        
        form.style.display = 'block'; // Show the form when button is clicked
      }
      
      // Add event listener to the bookevent button
      button.addEventListener('click', function(event) {
        event.stopPropagation(); // Prevent the click event from bubbling up
        toggleForm();
      });
      
      // Function to hide the form if the click is outside of it
      document.addEventListener('click', function(event) {
      
         // The button that shows the form
        
        // Check if the form is visible and the click is outside the form and button
        if (form.style.display === 'block' && !form.contains(event.target) && event.target !== button) {
          form.style.display = 'none'; // Hide the form
        }
      });
      
  </script>

{% endblock body %}